@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --background: linear-gradient(45deg, rgba(54, 0, 45, 1) 0%, rgba(74, 56, 150, 1) 45%, rgba(1, 10, 110, 1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    /* background: url(/pic.jpg); */
    background: rgb(54, 0, 45);
    background: var(--background);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    z-index: -1;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

#navmenu a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

#taskMenu {
    display: block;
}

#taskIn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#inputEl {
    height: 2.2rem;
    width: 90%;
    border: none;
    border-radius: 0.6rem;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    padding: 0.5rem;
    color: white;
}

#inputBtn {
    color: white;
    font-size: 1.8rem;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    height: 2.2rem;
    width: 2.2rem;
    text-align: center;
    border: none;
    border-radius: 0.6rem;
    padding: auto;
}

.tasks {
    margin-top: 7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    /* border: 2px solid red; */
    width: 90wh;
    z-index: 10;
}

.taskList {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1rem;
    color: white;
}

#UDcon {
    padding: 1rem;
    width: 49%;
    border: 2px solid red;
    border: none;
    border-radius: 0.6rem;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
}

#Dcon {
    padding: 1rem;
    width: 49%;
    border: 2px solid red;
    border: none;
    border-radius: 0.6rem;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
}

#done {
    font-size: 1rem;
    padding: 1rem;
}

#done li {
    list-style-type: none;
    padding-left: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    position: relative;
}

#done li::before {
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    border: 2px solid white;
    border-radius: 0.4rem;
    left: 0.2rem;
}

#done li.checked {
    color: #aaa;
    text-decoration: line-through;
}

#done li.checked::before {
    border: 2px solid #aaa;
    background: url(/check-solid.svg);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

#done li span {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    right: 0;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

#undone {
    font-size: 1rem;
    padding: 1rem;
}

#undone li {
    list-style-type: none;
    padding-left: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    position: relative;
}

#undone li::before {
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    border: 2px solid white;
    border-radius: 0.4rem;
    left: 0.2rem;
}

#undone li.checked {
    color: #aaa;
    text-decoration: line-through;
}

#undone li.checked::before {
    border: 2px solid #aaa;
    background: url(/check-solid.svg);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

#undone li span {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    right: 0;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    #icons {
        display: inline-flex;
    }

    #navmenu {
        position: absolute;
        top: 100%;
        right: 0;
        height: 100vh;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(25px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        max-width: 0;
        transition: max-width 0.5s ease-in-out;
        z-index: 99;
    }

    #navmenu.open {
        max-width: 50rem;
    }

    #navmenu a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 1.5rem;
        text-align: center;
        z-index: 99;
    }

    .taskList {
        flex-direction: column;
    }

    #UDcon {
        width: 100%;
        margin-bottom: 1rem;
    }

    #Dcon {
        width: 100%;
    }
}

#themeMenu {
    margin-top: 7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 90wh;
    z-index: 10;
    display: none;
}

#themeMenu h2 {
    font-size: 2rem;
    color: white;
}

#allthemes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: stretch;
    margin-top: 2rem;
}

.themeIcon {
    flex: calc(33.333% - 2rem);
    box-sizing: border-box;
    height: 20vh;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2.5vh;
    font-weight: 500;
}

.themeIcon:hover{
    border-radius: 0.8rem;
    border: 0.2rem solid white;
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.5);
    font-size: 3vh;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

/* THEMES */

#original {
    background: rgb(54, 0, 45);
    background: linear-gradient(45deg, rgba(54, 0, 45, 1) 0%, rgba(74, 56, 150, 1) 45%, rgba(1, 10, 110, 1) 100%);
}

#moonlit-asteroid {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#witching-hour {
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#lawrencium {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#argon {
    background: #03001e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(225deg, #fdeff9, #ec38bc, #7303c0, #03001e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#terminal {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(225deg, #0f9b0f, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#meridian {
    background: #283c86;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45a247, #283c86);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #45a247, #283c86);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#easy-med {
    background: #DCE35B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #45B649, #DCE35B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#grapefruit-sunset {
    background: #e96443;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}